<html ng-app ng-controller="AppController">
  <head>
    <!-- Meta -->
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <title>Santi, Carmen &amp; Rodri</title>
    <!-- Styles -->
    <link href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css' rel='stylesheet'>
    <link href='main.css' rel='stylesheet'>
  </head>
  <body class="direcciones">

    <div class="container marketing">
      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Bautismo</h2>
          <p class="lead">
          El bautismo es en la Parroquia Santa María en <a href="https://goo.gl/maps/z8cPF">Avenida La Plata 286</a>, Caballito, Capital Federal, el <strong class="label label-default">sábado 29 de Marzo</strong> a las <strong class="label label-default">17 hs</strong>. Cuando finalice iremos a <a href="http://www.confiteriadelcarmen.com.ar/index.php?accion=2">Plaza del Carmen</a> a merendar.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/bautismo.png" alt="Avenida La Plata 286, Caballito, Capital Federal">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/registrocivil.png" alt="Bacacay 3968, Floresta, Capital Federal">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Casamiento</h2>
          <p class="lead">
          El casamiento es el <strong class="label label-default">viernes 4 de Abril</strong> a las <strong class="label label-default">10:30 hs</strong> en el Registro Civil de <a href="https://www.google.com/maps/place/Bacacay+3968/@-34.6318319,-58.4828436,16z/data=!4m2!3m1!1s0x95bcc99678b49e59:0x4878658a848661ab">Bacacay 3968</a>, Floresta, Capital Federal. Cuando termine vamos a ir corriendo a nuestras casas a cambiarnos para la fiesta <em>(Si, tardamos mucho)</em>.
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Fiesta</h2>
          <p class="lead">
          La fiesta es el <strong class="label label-default">viernes 4 de Abril</strong> a partir de las <strong class="label label-default">21 hs</strong> en <em>Recepciones Perseo</em> <strong><a href="https://www.google.com/maps/place/Av+Gaona+1629/@-34.6101918,-58.4509691,16z/data=!4m2!3m1!1s0x95bcca1080d019e9:0x72a75e6dd0a685fe">Avenida Gaona 1629</a></strong>, Caballito, Capital Federal. Una vez acabada la fiesta iremos a nuestra casa a descansar de esta locura. 
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/comollegar.png" alt="Avenida Gaona 1629, Caballito, Capital Federal">
        </div>
      </div>
      <div class="row registry">
        <div class="col-lg-2 col-lg-offset-5">
            <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#registry">
                <span class="glyphicon glyphicon-gift"></span>
                Lista de Regalos 
            </button>
        </div>
      </div><!-- /.row -->

    <!-- regalos dialog -->
<div class="modal fade" id="registry" tabindex="-1" role="dialog" aria-labelledby="registry-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="registry-label">Lista de Regalos</h4>        
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="banco('galicia')">Banco Galicia</button>
                    <button class="btn btn-default" ng-click="banco('santander')">Banco Santander Río</button>
                    <button class="btn btn-default" ng-click="banco('otro')">Otro banco</button>
                </div>
            </div>
            <div class="row">
                <pre>{{ datosBanco }}</pre>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <hr class="featurette-divider">    

      <div class='footer text-center'>
        <p>
          Ideado y creado por <a href='http://github.com/4lb0'>Albo</a>.
        </p>
      </div>

    <!-- Scripts -->
    <script src='//code.jquery.com/jquery-1.10.1.min.js'></script>
    <script src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js'></script>
    <script src='app.js'></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48165828-1', 'santicarmenyrodri.com.ar');
    ga('send', 'pageview');
    </script>
  </body>
</html>

